<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groot.blog.mapper.BlogCatalogueMapper">
    <select id="getNewest" resultType="BlogCatalogue">
        SELECT t.*
        FROM blog_catalogue t
        INNER JOIN blog_content t2
        ON t.id = t2.file_id
        <where>
            AND t.type = '2'
            <if test="category != null">
                AND t.category = #{category}
            </if>
        </where>
        ORDER BY t2.last_update_time DESC
        LIMIT 5
    </select>
</mapper>